<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="ui segment container">
    <h1>Edit Task</h1>
    <form action="/tasks/<%= task.id %>?_method=PUT" method="post">
      <label>Title</label>
      <input name="title" type="text" value="<%= task.title %>">
      <br>
      <label>Description</label>
      <br>
      <textarea name="description" id="" cols="30" rows="10"><%= task.description %></textarea>
      <br>
      <input type="submit" value="Save">
    </form>
  </div>
</body>
</html>